# Python
beautifulsoup4
requests
tqdm
mwparserfromhell

# C++
json @ https://github.com/nlohmann/json@develop
indicators @ https://github.com/p-ranav/indicators@master
thread-pool @ https://github.com/bshoshany/thread-pool